@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');
/* 
body {
  background-image: url("https://cdn.discordapp.com/attachments/905163070786142228/954782197708099695/unknown.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 200px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

/* Modal Content */
.modal-content {
    background: rgba(0, 0, 0, 0.75);
    margin: auto;
    padding: 40px;
    border: 1px solid white;
    width: 370px;
    color: black;
    height: 320px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: .4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: black;
    float: right;

    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(41, 128, 155);
    text-decoration: none;
    cursor: pointer;
}




.popup-top-text {
    color: black;
    font-size: 22px;
    text-align: center;
    padding-top: 11px;
}

.popup-last-text {
    color: black;
    text-align: center;
}

.waiting {
    padding-top: 25px;
    /* padding-left: 40px;
    margin-left: 55px; */
    width: 140px;
    height: auto;
    display: none;
}

.confirmation {
    font-size: 25px;
    display: none;
    text-align: center;
    padding-left: 10px;
}

.confirm {
    text-align: center;
    font-size: 16px;
    display: none;
    padding-left: 10px;
}

.staking{
    clip-path: polygon(0 0, 95% 0, 100% 15%, 100% 100%, 5% 100%, 0 85%);
    background: #000;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    width: 352px;
    
}

@media screen and (max-width: 768px) {
    .staking{
    padding: 1px;
    }
}

@media screen and (max-width: 560px) {
    .staking{
    width: 100%;
    }
}



.mint-val {
    text-align: center;
}

select {
    display: inline-block;
    font-size: 17px;
    text-align: center;
    padding: 4px 3px 5px 5px;
    width: 250px;
    height: 40px;
    outline: none;
    color: rgb(0, 0, 0);
    border: 1px solid #C8BFC4;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background-color: #fff;
}

.dropdown-list {
    padding-top: 25px;
    text-align: center;

}

input{ 
    margin-top: 20px;
    border: 2px solid #fff;
    padding: 14px 20px;
    color: #000;
    background: transparent;
    width: 352px;
    height: 64px;
    border-radius: 0;
    border: 0;
    box-shadow: unset;
}

br{
    display: none !important;
}

input{
    border-radius: 0;
    border: 0;
    box-shadow: unset;
    width: 100%;
    background: transparent;
    color: #000;
    font-size: 52px;
    font-family: 'RoxboroughCF', sans-serif;
    font-weight: bold;
    height: 68px;
    clip-path: polygon(0 0, 95% 0, 100% 15%, 100% 100%, 5% 100%, 0 85%);
}